.SudokuGame {
	display: flex;
	justify-content: center;
}

.Controls {
	margin-left: 50px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.options {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.Controls button {
	height: 34px;
	margin: 5px 0;
}

.dark-button {
	background-color: #333;
}

.Sudoku {
	user-select: none;

	height: 50vw;
	width: 50vw;

	display: grid;
	grid-template-rows: repeat(9, 1fr);

	border: 2px solid black;
}

.row {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
}

.row:nth-child(3n) {
	border-bottom: 2px solid black;
}
.row:first-child {
	border-top: none;
}
.row:last-child {
	border-bottom: none;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 40px;
	transition: background-color 0.3s ease-in;
	border: 1px solid #aaa;
}

.cell:nth-child(3n) {
	border-right: 2px solid black;
}
.cell:first-child {
	border-left: none;
}
.cell:last-child {
	border-right: none;
}
.cell-readonly {
	color: black;
}

.cell-userinput {
	color: blue;
}

.cell-error {
	color: red;
}
.selected {
	background-color: rgba(109, 109, 255, 0.3);
}

.selected-main {
	/* border: 2px solid black; */
	background-color: rgba(109, 109, 255, 0.5);
}

.candidates {
	height: 100%;
	width: 100%;

	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	color: blue;
}

.candidates > div {
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 16px;
}

.keypad {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 300px;
	height: 400px;
	margin: auto;
}

.keypad > div {
	border: 1px solid #aaa;

	display: flex;
	justify-content: center;
	align-items: center;
}

.del {
	grid-column-end: 3;
}

@media only screen and (max-width: 768px) {
	.SudokuGame {
		flex-direction: column;
	}
	.Sudoku {
		width: 550px;
		height: 550px;

		margin: auto;
	}
	.Controls {
		flex-direction: column-reverse;
		margin: 0;
		width: 100vw;
	}
	.Controls h1 {
		display: none;
	}
	.options {
		margin: 0;
		flex-direction: column-reverse;
	}
	.keypad {
		grid-template-columns: repeat(10, 1fr);
		width: 500px;
		height: 50px;

		margin-top: 10px;
	}
	.del {
		grid-column-end: none;
	}
}
